<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Fonts -->
    <link href="../../stylesheets/css/font-face.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="../../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

    <!-- Bootstrap CSS-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Form CSS -->
	<link href="../../stylesheets/css/form.css" rel="stylesheet" media="all">
	<!-- Vendor CSS-->
    <link href="../../vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../../vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../../vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../../vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" /></link>

    <link rel="stylesheet" href="../../js/jquery.datetimepicker.min.css" />
    <script src="../../js/jquery.js"></script>
    <script src="../../js/jquery.datetimepicker.full.js"></script>


    <!-- Main CSS-->
    <link href="../../stylesheets/components/navbar.css" rel="stylesheet" media="all">
    <!-- <title></title> -->
  </head>
  <body class="animsition" onload="clearForm.reset();">

    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <i class="fas fa-hourglass-start"></i>
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                        </li>

                        <li>
                            <a data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-file"></i>Requests</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-cogs"></i>Settings</a>
                        </li>
                        <li>
                            <a data-toggle="modal" data-target="#contactPopup">
                                <i class="fas fa-address-book"></i>Contact Us</a>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <i class="fas fa-hourglass-start"></i>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                      <li>
                          <a href="#">
                              <i class="fas fa-tachometer-alt"></i>Dashboard</a>

                      </li>

                      <li>
                          <a  href="#" data-toggle="modal" data-target="#myModal">
                              <i class="fas fa-file"></i>Requests</a>
                      </li>
                      <li>
                          <a href="map.html">
                              <i class="fas fa-cogs"></i>Settings</a>
                      </li>
                      <li>
                          <a href="#" data-toggle="modal" data-target="#contactPopup">
                              <i class="fas fa-address-book"></i>Contact Us</a>

                      </li>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
<!-- TODO: Margin between page content and menu-->
<!-- TODO: Side menu a bit smaller -->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="fas fa-envelope-open"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="fas fa-bell"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/user.png" alt="John Doe" />
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="images/icon/user.png" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">TOP DPS</a>
                                                    </h5>
                                                    <span class="email">TOPDPS@TOPSDPS.TOPDPS</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="fas fa-user-circle"></i>Account</a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="fas fa-cogs"></i>Settings</a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="fas fa-sign-out-alt"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-door-open"></i>
                                </div>
                                <div class="text">
                                    <h2>10</h2>
                                    <span>Not resolved requests</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-calendar-check"></i>
                                </div>
                                <div class="text">
                                    <h2>30</h2>
                                    <span>Requests solved this week</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-comment"></i>
                                </div>
                                <div class="text">
                                    <h2>5</h2>
                                    <span>Unread messages</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="fas fa-battery-quarter"></i>
                                </div>
                                <div class="text">
                                    <h2>Gratz</h2>
                                    <span>Total flow of the requests</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Recent Requests -->
            <div class="row">
              <div class="col-lg-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Request History</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">All Properties</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <select class="js-select2" name="time">
                                    <option selected="selected">Today</option>
                                    <option value="">3 Days</option>
                                    <option value="">1 Week</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>add item</button>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2" id ="request-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Course Type</th>
                                    <th>Old Date</th>
                                    <th>New Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="tr-shadow request-entry">
                                  <td>Harry Arts</td>
                                  <td>Reschedule</td>
                                  <td>Exam</td>
                                  <td>01-01-2018</td>
                                  <td>20-12-2020</td>
                                  <td>
                                    <button type="button" class="btn btn-secondary show-info">+</button>
                                  </td>
                                </tr>
                                <tr class="tr-shadow hidden-info" style= 'display: none'>
                                  <td colspan="6">
                                    <div>
                                      <ul>
                                        <li>ID: </li>
                                        <li>Teacher ID: </li>
                                        <li>Old Room: </li>
                                        <li>Number of Students: </li>
                                        <li>Other Notes: </li>
                                      </ul>
                                    </div>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>

            <!-- History -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-25">History</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table id="request-table" class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Old Room</th>
                                    <th>New Room</th>
                                    <th>Old date</th>
                                    <th class="text-right">New Date</th>
                                    <th class="text-right">Req. Type</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
	<div class="modal-body" style="padding: 40px">
		<form class="form-style-7" name="clearForm">
		<ul>
		<li>
			<label for="faculty">Faculty</label>
			<div class="ui-select">
			<select name="faculty">
			<option value="0">Faculty A</option>
			<option value="1">Faculty B</option>
			<option value="2">Faculty C</option>
			</select>
			</div>
			<span>Please select your faculty</span>
		</li>
		<li>
			<label for="current-room">Current room</label>
			<input type="text" maxlength="20" id="current-room">
			<span>Please specify for which room your current class is scheduled</span>
		</li>
		<li>
			<label for="datetime-request">Date and time</label>
			<input type="text" id="datetime-request">
			<span>The date and time at which your class starts</span>
		</li>
		<input type="radio" name="type-of-request" value="RESCHEDULE" id="change-radio"> Make a schedule change<br>
		<input type="radio" name="type-of-request" value="CANCEL" id="cancel-radio"> Cancel the class<br>
		</ul>
		</form>
		<form id="change-form" class="form-style-7">
		<ul>
		<li>
			<label for="datetime-change">Date and time</label>
			<input type="text" id="datetime-change">
			<span>The new date and time for your class</span>
		</li>
		<li>
			<label for="nr-of-students">Number of students</label>
			<input type="text" maxlength="4" id="nr-of-students">
			<span>The number of students that will be attending this class</span>
		</li>
		<li>
			<label for="notes-input">Notes</label>
			<textarea id="notes-input" onkeyup="adjust_textarea(this)"></textarea>
			<span>If you have any comments for the scheduler please specifiy them here</span>
		</li>
		</ul>
		</form>
        <div class="modal-footer">
          <button class="btn btn-default btn-block request-button" type="submit" id="reschedule-button">Request change</button>
          <button class="btn btn-default btn-block request-button" data-dismiss="modal" type="submit" onclick="alert('Request sent!')" id="cancel-button">Cancel class</button>
        </div>
    </div>


        </div>
        </div>
      </div>

      <!-- CONTACT US POP-UP -->
<div class="modal fade" id="contactPopup" role="dialog">
  <div class="modal-dialog modal-lg">

  <!-- POP-UP CONTENT -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table style="margin: 0 auto; margin-bottom: 25px; margin-top: 25px">
          <tr>
            <td valign="top" style="padding-right: 75px">
              <h4>Contact the timetabling team:</h4>
              Street address here <br>
              Enschede 7511AA <br>
              E-mail: email@email.com <br>
              Phone number: 0682222222
            </td>
            <td valign="top">
              <h4>Report a bug or suggestion:</h4> 
              HORUS Project Team <br>
              E-mail: email@email.com <br>
              Phone number: 0682222222
            </td>
          </tr>
      </table>
      </div>
    </div>
  </div>
</div>


        <!-- Jquery JS-->

        <script>
        $("#change-form").hide();
        $("#cancel-button").hide();
        $('#reschedule-button').hide();
        $('#incomplete-fields').hide();
        $(this).prop(':checked', false);
        $('.selectpicker').selectpicker({
        style: 'btn-info',
    	   size: 6
    });
        </script>

        <script>
        $('#reschedule-button').click(function(){
          if ($('#desired-room').val().length === 0 || $('#datetime-change').val().length === 0 || $('#nr-of-students').val().length === 0){
            $('#incomplete-fields').show();
          } else {
            $('#incomplete-fields').hide();
          }
        });
        </script>
        <script>
          $('#change-radio').on('click', function(){
            $('#cancel-button').hide();
            if($(this).prop(':checked')){
                $('#change-form').hide();
                $('#reschedule-button').hide();
            } else {
                $('#change-form').show();
                $('#reschedule-button').show();
            }
          });
        </script>
        <script>
          $('#cancel-radio').on('click', function(){
            $('#change-form').hide();
            $('#reschedule-button').hide();
            if($(this).prop(':checked')){
                $('#cancel-button').hide();
            } else {
                $('#cancel-button').show();
            }
          });
        </script>


        <script>
        $( document ).ready(function() {
                var isChange = !$('#change-radio').prop('checked');
                var isCancel = !$('#cancel-radio').prop('checked');

                if(!isChange){
                  $('#cancel-button').hide();
                    $('#change-form').show();
                    $('#reschedule-button').show();
                }
                 if(!isCancel){
                  console.log( "CANCEL BUTTON ON!" );
                  $('#change-form').hide();
                  $('#reschedule-button').hide();
                    $('#cancel-button').show();
                }
            });
        </script>
        <script>
          $("#datetime-request").datetimepicker();
        </script>
        <script>
          $("#datetime-change").datetimepicker();
        </script>

<!-- // Example starter JavaScript for disabling form submissions if there are invalid fields -->
        <script type="text/javascript" src="../../js/main.js"></script>
        <script type="text/javascript" src="../../js/popup-pages.js"></script>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="../../vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="../../vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="../../vendor/slick/slick.min.js">
        </script>
        <script src="../../vendor/wow/wow.min.js"></script>
        <script src="../../vendor/animsition/animsition.min.js"></script>
        <script src="../../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
        </script>
        <script src="../../vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="../../vendor/counter-up/jquery.counterup.min.js">
        </script>
        <script src="../../vendor/circle-progress/circle-progress.min.js"></script>
        <script src="../../vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="../../vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="../../vendor/select2/select2.min.js">
        </script>
        <script src="../../js/requestForm.js"></script>
        <!-- Get all requests script-->
        <script src="../../js/getRequests.js"></script>
        <!--Date picker -->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <!-- Popup JS-->
        <script src="../../js/popup-pages.js"></script>
        <!-- Main JS-->
        <script src="../../js/main.js"></script>
        <!-- Request-History-->

        <script src="../../js/request-history.js"></script>
		<!-- Form JS-->
		<script type="text/javascript">
			function adjust_textarea(h) {
			h.style.height = "20px";
			h.style.height = (h.scrollHeight)+"px";
			}
		</script>
  </body>

</html>
